.header {
  h1 { padding-left: 1rem; }
  background: url("../images/webbanner.png") no-repeat center;
  background-size: cover;
  height: 20rem;
	#header-filler {
    height: 16rem;
	}
	h1.banner-title {
    text-shadow: 1px 1px #f77;
		font-family: 'Italianno', serif;
		font-size: 15rem;
	}
	h1.little-banner-title {
    display: none;
    color: #ddd;
    text-shadow: 2px 2px 2px #f11;
		font-family: 'Italianno', serif;
		font-size: 3.3rem;
	}
  .top-bar-title { height: 3rem; }
}

[data-sticky] {
  width: 100%;
}

.top-bar {
  padding: 2rem;
  transition: padding .25s ease, background 5.25s ease;
  ul.menu {
    background-color: rgba(255, 255, 255, 0.2);
    a { color: white; text-shadow: 1px 1px #000; }
    a:hover { text-shadow: 1px 1px #f3ba00; }
  }
}

.is-stuck .top-bar {
  h1.little-banner-title {
    display: block;
    overflow: hidden;
  }
  background: url("../images/webbanner.png") no-repeat center;
  background-size: cover;
}

